.milkdown {
	max-width: 1200px;
	margin: 5em auto;
	flex-direction: column;
	justify-items: flex-start;
	display: contents;
	/* width: 60vw; */
}
@media (max-width: 1200px) {
	.milkdown {
		padding: 0 1em;
	}
}

.milkdown .editor {
	white-space: pre-wrap;
	position: top;
	overflow-x: hidden;
	word-wrap: break-word;
	/* outline: white solid 1px; */
	/* padding-left: 4em; */
}
.milkdown .editor:focus {
	outline: none;
}

.milkdown .editor h2,
h3,
h4,
h5,
h6 {
	@apply text-klight;
}
.milkdown .editor .milkdown-placeholder {
	opacity: 0.5;
	z-index: 0;
	pointer-events: none;
}
.milkdown .editor .emoji {
	width: 1.25em;
	height: 1.25em;
}
.milkdown .editor p {
	line-height: 1.5;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.milkdown .editor li p {
	margin: 0;
}
.milkdown .editor li p::marker {
	@apply text-klight
}

.milkdown .editor a {
	@apply text-kaccent1;
}
.milkdown .editor a:hover {
	@apply text-kaccent2;
}
.milkdown .editor code {
	padding: 0.2em 0.4em;
	border-radius: 0.2em;
	font-size: 0.9em;

}
.milkdown .editor hr {
	margin-top: 1em;
	margin-bottom: 1em;
	@apply border-0 border-t-2 border-klight;
}
.milkdown .editor pre {
	padding: 0.2em 0.4em;
	border-radius: 0.2em;

	min-height: 3em;
	/* overflow: auto; */
}
.milkdown .editor pre code {
	padding: 0;
	border-radius: 0;
	background: transparent;
}

.milkdown .editor pre hr {
	border: 0;
	@apply border-0 border-t-2 border-klight;
}
.milkdown .editor pre em {
	font-style: italic;
	color: var(--color-base);
}
