@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

:root {
	--color-klighter: 217, 216, 218;
	--color-klight: 131,145,178;
	--color-kmedium: 32, 30, 60;
	--color-kdark: 13,12,30;
	--color-kdarker: 10,10,26;


	--color-kaccent1: 41,182,126;
	--color-kaccent2: 249,100,83;

  --color-base: 131,145,178;
  --color-base-contrast:32, 30, 60;
	--color-bg: 10,10,26;
	--color-bg-contrast: 13,12,30;
	--color-button: 41,182,126;
	--color-button-contrast: 249,100,83;
	--color-button-base: 217, 216, 218;
}

.light {
	--color-base: 78, 81, 95;
	--color-base-contrast: hsl(227, 32%, 30%);
	--color-bg: hsl(270, 3%, 85%);
	--color-bg-contrast: hsl(9, 5%, 70%);
	--color-button: hsl(199, 59%, 47%);
	--color-button-contrast: hsl(199, 59%, 46%);
	--color-button-base: hsl(270, 3%, 85%);
}
.dark {
	--color-base: hsl(207, 7%, 50%);
	--color-base-contrast: hsl(270, 3%, 85%);
	--color-bg: hsl(0, 2%, 10%);
	--color-bg-contrast: hsl(300, 1%, 18%);
	--color-button: hsl(300, 1%, 18%);
	--color-button-contrast: hsl(210, 5%, 42%);
	--color-button-base: hsl(270, 3%, 85%);
}
.purple-void {
	--color-base: hsl(331, 75%, 68%);
	--color-base-contrast: hsl(334, 81%, 74%);
	--color-bg: hsl(318, 34%, 13%);
	--color-bg-contrast: hsl(315, 49%, 18%);
	--color-button: hsl(322, 44%, 32%);
	--color-button-contrast: hsl(331, 75%, 68%);
	--color-button-base: hsl(0, 0%, 100%);
}
.creamy-coffee {
	--color-base: #926337;
	--color-base-contrast: #653b17;
	--color-bg: #ddd2bc;
	--color-bg-contrast: #d0c2a7;
	--color-button: #b59671;
	--color-button-contrast: #b59671;
	--color-button-base: hsl(0, 0%, 100%);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: white var(--kdark);
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}
*::-webkit-scrollbar-track {
	background: #0d0c1eff;
	@apply bg-kdark;
}
*::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 20px;
	border: 3px solid #201e3cff;
	@apply bg-klighter border-kdarker;
}
