@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

:root {
	--color-primary-100: 227, 225, 237;
	--color-primary-200: 200, 196, 222; 
	--color-primary-400: 145, 139, 192;
	--color-primary-600: 90, 87, 162;
	--color-primary-800: 46, 44, 86;
	--color-primary-900: 26, 24, 54;

	--color-secondary-200: 62, 224, 158;
	--color-secondary-400: 41, 182, 126;
	--color-secondary-600: 20, 108, 73;

	--color-danger: 255, 82, 69;
	--color-caution: 234, 144, 51;

	--color-neutral-100: 226, 225, 239;
	--color-neutral-200: 198, 197, 209;
	--color-neutral-400: 144, 144, 156;
	--color-neutral-600: 94, 93, 105;
	--color-neutral-800: 48, 48, 58;
	--color-neutral-900: 14, 13, 24;


	--color-klighter: 217, 216, 218;
	--color-klight: 131,145,178;
	--color-kmedium: 32, 30, 60;
	--color-kdark: 13,12,30;
	--color-kdarker: 10,10,26;


	--color-kaccent1: 41,182,126;
	--color-kaccent2: 249,100,83;

  --color-base: 131,145,178;
  --color-base-contrast:32, 30, 60;
	--color-bg: 10,10,26;
	--color-bg-contrast: 13,12,30;
	--color-button: 41,182,126;
	--color-button-contrast: 249,100,83;
	--color-button-base: 217, 216, 218;
}

.light {
	--color-base: 78, 81, 95;
	--color-base-contrast: rgb(52, 63, 101);
	--color-bg: rgb(217, 216, 218);
	--color-bg-contrast: rgb(182, 176, 175);
	--color-button: rgb(49, 146, 191);
	--color-button-contrast: rgb(48, 143, 187);
	--color-button-base: rgb(217, 216, 218);
}
.dark {
	--color-base: hsl(207, 7%, 50%);
	--color-base-contrast: hsl(270, 3%, 85%);
	--color-bg: hsl(0, 2%, 10%);
	--color-bg-contrast: hsl(300, 1%, 18%);
	--color-button: hsl(300, 1%, 18%);
	--color-button-contrast: hsl(210, 5%, 42%);
	--color-button-base: hsl(270, 3%, 85%);
}
.purple-void {
	--color-base: rgb(235, 112, 171);
	--color-base-contrast: rgb(242, 135, 182);
	--color-bg: rgb(44, 22, 38);
	--color-bg-contrast: rgb(68, 23, 57);
	--color-button: rgb(118, 46, 91);
	--color-button-contrast: rgb(235, 112, 171);
	--color-button-base: rgb(255, 255, 255);
}
.creamy-coffee {
	--color-base: rgb(146, 99, 55);
	--color-base-contrast: rgb(101, 59, 23);
	--color-bg: rgb(221, 210, 188);
	--color-bg-contrast: rgb(208, 194, 167);
	--color-button: rgb(181, 150, 113);
	--color-button-contrast: rgb(181, 150, 113);
	--color-button-base: rgb(255, 255, 255);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  /* filter: drop-shadow(0 0 2em #646cffaa); */
	@apply drop-shadow-[0_0_2em_rgb(var(--color-primary-400))];
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: white var(--kdark);
	/* scrollbar-gutter: stable; */
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 0.75rem;
}
*::-webkit-scrollbar-track {
	background: #0d0c1eff;
	@apply bg-primary-900;
}
*::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 20px;
	border: 3px solid #201e3cff;
	@apply bg-primary-100 border-primary-900;
}
