.p-tree {
	background: none;
	border: none;
	font-family: var(--font-family);
	padding: 0;
	@apply text-klight;
}
.p-tree .p-tree-header {
  @apply pl-4 pr-4
}
.p-tree .p-tree-container {
	margin-top: 1rem;
	@apply overflow-y-auto w-full h-full pl-4 pr-4;
}
.p-tree .p-tree-container .p-treenode {
  padding: 0.125rem 0;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content {
	border-radius: 6px;
	transition: box-shadow 0.2s;
	padding: 0;
	/* text-overflow: ellipsis;
  overflow: hidden; */
	height: 1.5rem;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-treenode-label {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
	margin-right: 0.25rem;
	width: 1rem;
	height: 1rem;
	@apply text-klight;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:enabled:hover {
	background: none;
	@apply text-kaccent1;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: 0 0 0 0;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-treenode-icon {
	@apply text-klight mr-[0.25rem];
}
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler,
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-treenode-icon {
	@apply text-kaccent1;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
	background: none;
	@apply text-kaccent1;
}

.p-tree
	.p-tree-container
	.p-treenode
	.p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
	background: none;
	@apply text-kaccent1;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content:focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: inset 0 0 0 0.1rem;
}
.p-tree .p-tree-filter-container {
	margin: 0.5rem 0;
}
.p-inputtext {
	@apply border-none bg-kmedium text-klight;
	font-family: var(--font-family);
	padding: 0.5rem;
}

.p-tree .p-treenode-children {
	margin: 0 0 0 0.5rem;
	padding: 0;
	@apply border-l-2 border-transparent hover:border-kmedium;
}

.p-tree .p-tree-toggler-icon {
  font-size: 0.75rem;
}

.p-dialog {
	@apply bg-kmedium opacity-100 text-klighter;
}
.p-dialog .p-dialog-header {
	@apply bg-transparent text-klighter pb-0;
}
.p-dialog .p-dialog-header .p-dialog-header-icon {
	@apply text-klighter hover:text-kaccent1 hover:bg-transparent;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
	@apply text-kaccent1 hover:bg-transparent;
}
.p-dialog .p-dialog-content {
	@apply bg-transparent text-klighter pt-4 pb-4;
}
.tree-add-dialog{
	@apply bg-transparent text-klighter !pt-8 !pb-0;
}

.p-delete-dialog .p-dialog-content {
	@apply bg-transparent text-klighter pt-4 pb-4;
}

.p-dialog .p-dialog-content .p-inputtext {
	box-shadow: none;
	@apply bg-kdark text-klight w-full border-kdark border-solid;
}
.p-dialog .p-dialog-content  .p-invalid {
	@apply border-red-500 border;
}
.p-dialog .p-dialog-footer {
	@apply bg-transparent text-klighter;
}
.p-dialog .p-dialog-footer .p-button {
	@apply bg-kaccent1 text-kdarker m-0 ml-2 p-2 min-w-[4rem];
}
.p-button.p-button-text:enabled:hover, .p-button.p-button-text:not(button):not(a):not(.p-disabled):hover{
	@apply bg-kaccent1 text-klighter;
}
.p-button.p-button-danger{
	@apply !bg-red-500 text-kdarker;
}
.p-dialog .p-error-show {
	@apply text-xs text-red-500 opacity-100 pt-1 h-6;
}
.p-dialog .p-error-hidden {
	@apply text-xs opacity-0 h-6;
}
.p-contextmenu{
	@apply bg-kmedium w-fit min-w-[8rem];
}
.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
	@apply bg-kmedium text-klight hover:text-kaccent2;
}
.p-contextmenu .p-menuitem-link {
	@apply text-klight hover:text-kaccent2 p-2 align-middle flex justify-start items-center;
}
.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
	@apply text-inherit ;
}

.p-contextmenu .p-menuitem-link .p-menuitem-text{
	@apply text-inherit text-base leading-4;
}

.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon, .p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon {
	@apply text-inherit;
}

.p-contextmenu .p-menuitem-link .p-menuitem-icon{
	@apply text-inherit;
}

.p-component{
	font:var(--font-family);
}
.p-splitter{
	@apply border-0 bg-kdark;
}

.p-splitter .p-splitter-gutter {
	@apply border-0 bg-kmedium !w-0.5;
}

.p-splitter .p-splitter-gutter .p-splitter-gutter-handle {
	@apply border-0 bg-klight;
}

.p-toast{
	@apply w-fit;
}
.p-toast-top-right{
	@apply top-12 right-5;
}
.p-toast .p-toast-message.p-toast-message-success{
	@apply bg-kmedium border-kaccent1 text-kaccent1
}

.p-toast .p-toast-message .p-toast-message-content{
	@apply border-0 flex items-center justify-between;
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon{
	@apply !text-kaccent1 !text-[1.5rem];
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text{
	@apply align-middle h-full mr-4;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon, .p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close{
	@apply text-klight;
}

.p-dropdown {
	@apply border-none bg-kmedium text-klight;
	font-family: var(--font-family);
	/* padding: 0.5rem; */
}

.p-dropdown .p-dropdown-trigger {
	@apply border-none bg-kmedium text-klight;
}

.p-dropdown-panel {
	@apply border-none bg-kmedium text-klight;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
	@apply bg-kmedium text-klight;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
	@apply bg-kdarker text-klight;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
	@apply bg-kmedium text-kaccent1;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item .theme-item{
	@apply flex flex-row items-center justify-between;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item .theme-circle-container{
	@apply flex h-4  flex-row gap-1;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item .theme-circle{
	@apply h-4 w-4 rounded-full;
}